name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Build API image
        run: docker build -f docker/Dockerfile.api .

      - name: Build Worker image
        run: docker build -f docker/Dockerfile.worker .
